[linux_servers]
superclient 	ansible_host=superclient.nagios-machine.com 	ansible_port=22 	ansible_user=ansible 	host_alias="Super Client Server"

[linux_servers:vars]
host_templates="generic-host,linux-server"
host_groups="linux-servers"
install_fail2ban=yes

[web_servers]
neatclient 		ansible_host=neatclient.nagios-machine.com 		ansible_port=22 	ansible_user=ansible 	host_alias="Neat Client Server"

[web_servers:vars]
host_templates="generic-host,web-server"
host_groups="web-servers"
install_fail2ban=no

[nagios_clients:children]
linux_servers
web_servers

[nagios_server]
nagios_server 	ansible_host=server.nagios-machine.com 			ansible_port=22 	ansible_user=ansible  
