{%raw%}# Built-in Plugins expected on all NRPE Servers monitored by Epona
command[check_users]=/usr/lib64/nagios/plugins/check_users -w 30 -c 40
command[check_load]=/usr/lib64/nagios/plugins/check_load -w 15,10,5 -c 30,25,20
command[check_zombie_procs]=/usr/lib64/nagios/plugins/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=/usr/lib64/nagios/plugins/check_procs -w 400 -c 500
command[check_swap]=/usr/lib64/nagios/plugins/check_swap -w 20 -c 10
command[check_root_disk]=/usr/lib64/nagios/plugins/check_disk -w 20% -c 10% -p /

# Custom Plugins expected on all NRPE servers monitored by Epona
command[show_users]=/usr/lib64/nagios/custom-plugins/show_users
command[check_mountpoints]=/usr/lib64/nagios/custom-plugins/check_mountpoints -a -T 20

{%endraw%} 